
﻿@model LAIMIStock.Models.Suministros

@{
    if (Convert.ToInt32(Session["usuarioID"]) != 2)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "OperadorView";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consumo de suministros</title>
</head>
<body>



    @using (Html.BeginForm("UseSupply", "Operator", FormMethod.Post))
    {
        <div class="container">
            <form className="zp-account-form">
                <h1 class="zp-sign-in--tittle">Consumir suministro</h1>
                <div class="form-input">
                    
                    @Html.DropDownList("Supply", "Seleccione un suministro")
                    
                    <br />
                    
                </div>



                <button type="submit" class="btn-success">
                    CONSUMIR
                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>
            </form>
        </div>

        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>

