@model LAIMIStock.ViewModels.ListCategoriesViewModel
@{
    ViewBag.Title = "Inicio";
}

<h2>Categorías</h2>

<div class="img-grid">
    @foreach (var category in Model.Categories)
    {
        <img src="@category.categoryImage" height="168" width="168" class="img-item">
    }
</div>