@model LAIMIStock.ViewModels.ListCategoriesViewModel
@{
    ViewBag.Title = "Inicio";
}

<h2>Categorías</h2>

<div class="img-grid">
    @foreach (var category in Model.Categories)
    {
        <a href="@Url.Action("Index", "SupplyCategories", new {id = @category.idCategoriaSuministro})">
            <img src="@category.imagenURL" height="168" width="168" class="img-item">
        </a>
    }
</div>