
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "ReportAssetsState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte Estado de Activos</h2>

<table id="myTable">
    <tr>
        <th onclick="sortTable(0)">Código</th>
        <th onclick="sortTable(1)">Nombre</th>
        <th onclick="sortTable(2)">Descripción</th>
        <th onclick="sortTable(3)">Estado</th>
        <th onclick="sortTable(4)">Localización</th>
    </tr>
</table>

