﻿@model IEnumerable<LAIMIStock.Models.Suministros>
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "Valor total";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Reporte - Valor total de suministros</h3>


@if (ViewBag.TotalValue != null)
{

    <table id="myTable">
        <tr>
            <th onclick="sortTable(0)">Valor total</th>
        </tr>

        
        <tr>
            <td>@ViewBag.TotalValue</td>
        </tr>
        
    </table>
}
else
{
    <h4>¡No existe ningún valor total!</h4>
}
