
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "ReportBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte Bitácora</h2>

@if (ViewBag.Log != null)
{
    <table id="myTable">
        <tr>
            <th onclick="sortTable(0)">Acción</th>
            <th onclick="sortTable(1)">Fecha</th>
        </tr>
        @foreach (var log in ViewBag.Log)
        {
            <tr>
                <td>@log.nombre</td>
                <td>@log.fecha</td>
            </tr>
        }
    </table>
}
else
{
    <h4>¡No existe ningún reporte para la bitácora!</h4>
}