﻿@model IEnumerable<LAIMIStock.Models.Suministros>
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "ReportAmountInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte Cantidad de inventario</h2>

@if (ViewBag.AmountInventory != null)
{
    <table id="myTable">
        <tr>
            <th onclick="sortTable(0)">Código</th>
            <th onclick="sortTable(1)">Nombre</th>
            <th onclick="sortTable(2)">Descripción</th>
            <th onclick="sortTable(3)">Cantidad</th>
        </tr>
        @foreach (var supply in ViewBag.AmountInventory)
        {
            <tr>
                <td>@supply.codigo</td>
                <td>@supply.nombre</td>
                <td>@supply.descripcion</td>
                <td>@supply.cantidad</td>
            </tr>
        }
    </table>
}
else
{
    <h4>¡No existe ningún reporte para cantidad de inventario!</h4>
}

