
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "Bitácora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        pager("Starting");
    };
</script>

<h3>Reporte - Bitácora</h3>

@if (ViewBag.Log != null)
{
    <table id="myTable" onload="javascript:prueba();">
        <tr>
            <th onclick="sortTable(0)">Acción</th>
            <th onclick="prueba()">Fecha</th>
        </tr>
        @foreach (var log in ViewBag.Log)
        {
            <tr>
                <td>@log.nombre</td>
                <td>@log.fecha</td>
            </tr>
        }
    </table>
    <span id="prev" onclick="prevPage()"><< Anterior</span>
    <span id="page"><span></span></span>
    <span id="next" onclick="nextPage()">Siguiente >></span>

}
else
{
    <h4>¡No existe ningún reporte para la bitácora!</h4>
}