.btn {
    margin: 15px 15px 15px 0;
}

.btn:hover {
    margin-top: 15px;
    border-bottom-width: 4px;
}

.btn:active {
    margin-top: 15px;
    border-bottom-width: 0;
}

input, textarea {
    margin: 0 15px 15px 0;
}

input[type=file] {
    max-width: none;
}