.img-grid {
    display: flex;    
    justify-content: space-around;    
    flex-wrap: wrap;
}

.img-item {
    margin: 10px;
}

.category-title {
    display: block;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
}

.category-title:hover {
    color: black;
}
