﻿body{
    margin: 0 auto;
    background-size: 100% 720px;

}

.container{
    width: 400px;
    background-color: rgb(242, 243, 244);
    display: flex;
    justify-content: center;
    border-radius: 4px;
    margin: 150px auto 0px;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 20px;
}

.sign-in--title{
    margin-top: 10px !important;
}

input{
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 35px;
    min-width: 300px;
    padding: 10px;
    text-indent: 30px;
}

.form-input::before{
    position: absolute;
    font-family: FontAwesome;
    content:"\f007";
    padding-left: 10px;
    padding-top: 5px;
    font-size: 30px;
}

.form-input:nth-child(3)::before{
    content: "\f023";

}

/*Mensaje de error de autentificación*/
.field-validation-error{
    color:red;
    top: 20px;
    font-size: 18px;
}

.btn-login{
    padding: 15px 30px;
    color: #fff;
    width: 300px;
    border-radius: 4px;
    border: none;
    background-color: #0A27B8;
    min-width: 300px;
}
