@model LAIMIStock.ViewModels.ListCategoriesSViewModel
@{
    if (Convert.ToInt32(Session["usuarioID"]) != 1)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["msg"])

<h2>Categorías de Suministros</h2>

<div class="img-grid">
    @foreach (var category in Model.Categories)
    {
        <a href="@Url.Action("ListSupplies", "SupplyCategories", new {id = @category.idCategoriaSuministro})">
            <img src="@category.imagenURL" height="168" width="168" class="img-item">
        </a>
    }
</div>

