
@{
    if (Session["usuarioID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>
